<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7xr_Zaa4dG6lDaoRDX72DNTwVE5K100I</string>
	<key>GCM_SENDER_ID</key>
	<string>975633846921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.foodicafe</string>
	<key>PROJECT_ID</key>
	<string>foodicafe-77b62</string>
	<key>STORAGE_BUCKET</key>
	<string>foodicafe-77b62.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975633846921:ios:6ff96a19f8c8310f4dac58</string>
</dict>
</plist>